<div id="conteiner">
    <div class="tdl">
        To Do List
    </div>
    <div class="list">
        <input type="text" class="email" placeholder="Enter task" name="task" [(ngModel)]="addTaskValue">
        <button class="btn" type="button" (click)="addTask()">+</button>
    </div>    
    <h1  style="
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(108, 167, 255);"
    >
        Tasks : 
    </h1>
    <div class="cnt2" *ngFor="let task of taskArr">  
        <div class="tasks">
            <h2 style="
            font-size: 16px; 
            margin-left: 15px; 
            color: rgb(255, 255, 255); 
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
            >
                {{task.task_name}}
            </h2>
            <div>
                <button class="btn2" type="button" routerLinkActive="active" (click)="call()">
                    e 
                </button>
                <button class="btn3" (click)="deleteTask(task)">
                    x
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showEdittor">
    <h1 style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        Change Task
    </h1>
    <input type="text" id="chng-task" placeholder="Change task" name="task" [(ngModel)]="editTaskValue">
    <button class="btn4" (click)="editTask()">
        update
    </button>
</div>
